asn1crypto==1.5.1
azure-core==1.41.0
azure-identity==1.25.3
azure-keyvault-certificates==4.11.1
azure-keyvault-keys==4.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
cryptography==48.0.0
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.17
isodate==0.7.2
lxml==6.1.1
msal-extensions==1.3.1
msal==1.37.0
oscrypto==1.3.0
packaging==26.2
pillow==12.2.0
platformdirs==4.10.0
pycparser==3.0
pyhanko-beid-plugin==0.2.0
pyhanko-certvalidator==0.31.1
pyhanko-cli==0.4.0
pyHanko==0.35.1
PyJWT==2.13.0
pypdfium2==5.9.0
python-barcode==0.16.1
python-pkcs11==0.9.4
PyYAML==6.0.3
requests==2.34.2
typing-extensions==4.15.0
tzlocal==5.3.1
uritools==6.1.2
urllib3==2.7.0
